.container-theater-watch{
  display: flex;
  color:white;
  background-color: #1f1e2c;
  height: 130vh;
  box-shadow: 10px 10px 30px black;
  position: relative;
  overflow: hidden!important;
  padding: 4rem 0;
}

.container-room{
  flex-grow: 1;
  max-width: 300px;
  height: 100%;
  border-right: 1px solid #ffffff70;
  position: relative;
}

.container-watch-interface{
  flex-grow: 3;
  padding-left:0.5em;
  padding-bottom: 3rem;
}

.input-room-layout{
  width: 80%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container-room-list{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x:hidden;
  height: 70%;
  min-width: 300px;
}

.room-link-item{
  color: white;
  text-decoration: none;
  margin:1rem 0;
  padding: 1rem;
  font-size: 1rem;
  background-color: #6c6f79;
  box-shadow: 10px 10px 10px black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
}

.active-link{
  transition: 0.3s;
  background-color: rgb(43, 27, 27);
}

.container-room-list::-webkit-scrollbar{
  width: 5px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.container-room-list::-webkit-scrollbar-thumb {
  background-color: #F90; 
  border-radius: 10px;
}