.container-background{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-login{
  width: 40rem;
  background-color: rgb(29, 33, 46);
  padding: 4rem 5rem 5rem 5rem;
  box-shadow:0 0 2px 1px rgb(139, 117, 117);
  display: flex;
  flex-direction: column;
}

.button-right{
  margin: 0 0 0 auto;
}