.image-video-promotion{
  position: relative;
}

.video-promotion-item{
  color: transparent;
}


.container-button-play{
  display: flex;
  align-items: center;
  width:100%;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
}

.image-video-promotion img{
  max-height: 605px;
}

.image-video-promotion span{
  font-size: 5rem;
  max-height: 600px;
  margin: auto;
  color: white!important;
  transition: 0.4s;
}

.image-video-promotion span:hover{
  transform: scale(1.1);
}