.notification-user-join{
  color:green;
}

.container-theater-watch{
  overflow:auto;
}

.disconnected-danger{
  color:red!important;
}

.audio-connected{
  color:blue;
}

.container-audio-call{
  display: flex;
  width: 99%;
  margin: auto;
  background-color: #000000;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  box-shadow: 0 0 1px 4px rgba(146, 87, 19, 0.856);
  min-height: 120px;
  position: relative;
}

.container-audio-call video{
  width: 140px;
  height: 140px;
  margin: 1rem;
  margin-right: 0.4rem;
  border-radius: 10px;
}

.theater-user-login{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.section-center{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.user-list-online{
  box-shadow: 0 0 5px 5px black;
  background-color: #1f2238e5;
  display: flex;
  margin-left: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 900px;
  max-width: 1511px;
  width: inherit;
  text-align: start;
  margin:1rem 0;
  align-items: center;
  white-space: nowrap;
}

.user-list-online::-webkit-scrollbar{
  background-color: black;
  height: 3px;
}

.user-list-online::-webkit-scrollbar-thumb{
  background-color: rgb(39, 60, 99);
  border-radius: 10px;
}

.user-list-online div{
  margin: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-list-online p{
  white-space: nowrap;
}

.title-room{
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
  border-right:1px solid #ffffff4f;
  min-width: 150px;
  box-shadow: 0 3px 0.2px 0.2px #000000;
}

.container-section-video{
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper-video-player{
  display: flex;
  max-width: 1130px;
  flex-direction: column;
  flex-grow: 100;
  align-items: flex-start;
  height: 100%;
}

.wrapper-video-player video{
  width: 100%!important;
  height: 100%;
  outline: none;
}

.container-message-dialog{
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
}

.container-input-section{
  background-color: #32363f;
  box-shadow: 0 0 3px 1px rgb(124, 102, 102);
  margin:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.input-section-1{
  background-color: #473f26;
  width: 100%;
  margin: 1rem;
  border-radius: 10px;
}

.input-section-1 div{
  margin: auto;
}

.input-section-1 button{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: white;
  background-color: rgb(52, 102, 136);
  margin-top: 0.2rem;
}

.input-section-2{
  width: 100%;
  background-color: #473f26;
  border-radius: 10px;
}

.input-section-2 input{
  margin: 2rem;
  margin-left: 4rem;
}

.input-section-3{
  width: 100%;
  background-color: #473f26;
  border-radius: 10px;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-section-3 input{
  margin: 2rem;
  margin-left: 4rem;
  margin-right: 1rem;
}

.input-checkbox{
  width: 90%;
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-zoom{
  position: fixed;
  top: 0;
  bottom : 0;
  left : 0;
  right : 0;
  object-fit:  contain;
  background-color : black;
  z-index: 20;
}

.container-message-zoom{
  transform: scale(1);
  transition: 0.4s;
  z-index :1000;
  position : fixed;
  top : 0;
  right : 0;
  overflow: auto;
  max-height: 60%;
  padding:10px;
  border-radius: 10px;
}

.button-display-control{
  position: fixed;
  top:0;
  left:0;
  z-index: 1001;
  cursor: pointer;
}

.number-unread-message{
  border-radius: 50%;
  padding: 5px;
  background-color: red;
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 0;
  text-align: center;
  font-family: emoji;
}

.btn{
  padding: 1rem;
} 

.button-check-video-call{
  margin-left: 2rem;
  border-radius: 10px;
  padding: 0.6rem 0.4rem;
  background-color: #2b6d79;
  color: white;
}