.title-upcoming-anime{
  color: white;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: black;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  animation: colorChanging 1s infinite forwards;
}

.upcoming-anime-container{
  height: 560px;
}

.control-scrolling{
  text-align: center;
  display: flex;
  justify-content: center;
}

.wrapper-control{
  display: inline-block;
  border-radius: 10px;
  padding: 1rem;
}

.control-scrolling i{
  margin: 0 1rem;
  color: rgb(121, 126, 187);
  cursor: pointer;
  transition: 0.3s;
}

.control-scrolling i:hover{
  color: white;
}

@media (max-width:700px){
  .upcoming-anime-container{
    height: 450px;
  }
}

@keyframes colorChanging{
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}