.message-dialog-container{
  display: block;
  background-color: #303655;
  box-shadow: 0 0 1px 1px black;
  width: 300px;
  margin:10px;
  border-radius: 10px;
  padding: 0.5rem;
}

.transparent-background{
  background-color: #30365500!important;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0)!important;
}

.content-message p{
  max-width: 225px;
  word-wrap: break-word;
  padding:0;
  margin:0;
}

.message-dialog{
  height: 420px;
  margin-bottom: 10px;
  background-color: #000000;
  padding:1px 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-dialog::-webkit-scrollbar{
  border-radius: 10px;
  width:5px;
}

.message-dialog::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #484f70;
  width:5px;
}

.message-dialog::-webkit-scrollbar-track{
  border-radius: 10px;
  width:5px;
}

.flex-start-message{
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end-message{
  justify-content: flex-end;
  align-items: flex-end;
}

.message-dialog-item{
  padding:1rem;
  margin:5px;
  display: flex;
  flex-direction: column;
}



.current-user-message > .content-message{
  padding:1rem;
  border-radius: 10px;
  background-color: rgb(39, 39, 197);
}

.username-message{
  color:#ac9393;
  font-size:  small;
  font-weight: 1000;
  max-width: 200px;
  word-wrap: break-word;
  margin: 0;
}

.other-user-message > .content-message{
  padding:1rem;
  border-radius: 10px;
  background-color: #278bc5;
}

.file-message-dialog{
  outline:none;
  border-radius: 50px;
}

.pop-up{
  max-width: 200px;
}

.pop-up img{
  border-radius: 10px;
}

.pop-up img{
  cursor: zoom-in;
  display: block;
  margin:auto;
  transition: 0.4s ease-in-out;
}

.container-popup-img{
  transition: 0.4s;
  width: 100%;
  transform: scale(0);
  opacity: 0;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 2000;
  align-items: center;
  justify-content: center;
  cursor: zoom-out;
}

.pop-up-active{
  max-width: 100%;
  max-height: 100%;
}

.file-submit-input{
  opacity: 0;
  width: 0;
  height: 0;
}

.symbol-choose-picture{
  cursor: pointer;
  margin:10px;
}

.input-message-dialog{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chat-watch-zoom{
  transition: 0.4s;
  z-index: 1000;
  position: fixed;
  top: 70px;
  right: 0;
  max-height: 75%;
  overflow: auto;
}

.chat-watch-zoom::-webkit-scrollbar{
  width: 5px;
}

.button-like{
  cursor: pointer;
  color:blue;
}

.notification-typing{
  opacity: 0;
  pointer-events: none;
  background-color: black;
  box-shadow: 0 -13px 1px 0.1px black;
  top: 0;
  width:80%;
  margin:auto;
  color:none;
  bottom:0
}