.carousel-slide-list{
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: grab;
}

.carousel-slide-list-wrapper{
  display: flex;
  width: 100%;
  touch-action: pan-y;
}

.carousel-slide-item{
  min-width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.carousel-slide-item img{
  width: 100%;
}

.carousel-slide-list:hover .carousel-prev-button{
  opacity: 1;
  transform: translate(10px, -50%);
}

.carousel-slide-list:hover .carousel-next-button{
  opacity: 1;
  transform: translate(-10px, -50%);
}

.carousel-prev-button{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(20px, -50%);
  font-size: 2rem;
  color: black;
  -webkit-text-stroke: 1px white;
  transition: 0.3s;
  z-index: 10;
  opacity: 0;
  
}

.carousel-prev-button:hover,
.carousel-next-button:hover{
  cursor: pointer;
  color: red;
  -webkit-text-stroke: 1px black;
}

.carousel-next-button{
  position: absolute;
  right: 0;
  transition: 0.3s;
  top: 50%;
  transform: translate(-20px,-50%);
  font-size: 2rem;
  color: black;
  -webkit-text-stroke: 1px white;
  z-index: 10;
  opacity: 0;
}