.notification-user-join{
  color:green;
}

.disconnected-danger{
  color:red!important;
}

.audio-connected{
  color:blue;
}

.container-audio-call{
  display: flex;
  flex-wrap: wrap;
}

.container-audio-call video{
  width: 100px;
  height: 100px;
}

.theater-user-login{
  display: flex;
  flex-direction: row;
}

.user-list-online{
  margin:0 0 0 auto;
  display: flex;
  flex-direction: column;
}