.notification-user-join{
  color:green;
}

.disconnected-danger{
  color:red!important;
}

.audio-connected{
  color:blue;
}

.container-audio-call{
  display: flex;
  flex-wrap: wrap;
}

.container-audio-call video{
  width: 100px;
  height: 100px;
}

.theater-user-login{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.section-center{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.user-list-online{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px 5px black;
  background-color: #1f2238e5;
  padding:1rem;
  margin-left: 1rem;
  margin: 0 0 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 900px;
  width: 190px;
  text-align: center;
}

.title-room{
  padding: 1rem 0;
  text-align: center;
  text-transform: capitalize;
  /* background-color: #1b252c; */
  border-bottom:1px solid #ffffffa2;
  min-width: 150px;
  box-shadow: 0 3px 0.2px 0.2px #000000;
}

.container-section-video{
  display: flex;
  flex-wrap: wrap;
}

.container-section-video video{
  min-width: 650px;
  min-height: fit-content;
}

.message-dialog-container{
  display: block;
  background-color: #303655;
  box-shadow: 0 0 10px 10px black;
  height: 500px;
  width: 340px;
  margin:10px;
  border-radius: 10px;
  padding: 1rem;
}

.message-dialog{
  height: 420px;
  margin-bottom: 10px;
  background-color: #000000;
  padding:1px 0;
  overflow-y: auto;
}

.message-dialog::-webkit-scrollbar{
  border-radius: 10px;
  width:5px;
}

.message-dialog::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #484f70;
  width:5px;
}

.message-dialog::-webkit-scrollbar-track{
  border-radius: 10px;
  width:5px;
}

.flex-start-message{
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-end-message{
  justify-content: flex-end;
  align-items: flex-end;
}

.message-dialog-item{
  padding:1rem;
  margin:5px;
  display: flex;
  flex-direction: column;
}

.current-user-message > .content-message{
  padding:1rem;
  border-radius: 10px;
  background-color: rgb(39, 39, 197);
}

.current-user-message > .username-message{
  color:#aa9c9c;
  font-size: small;
}

.other-user-message > .content-message{
  padding:1rem;
  border-radius: 10px;
  background-color: #278bc5;
}

.other-user-message > .username-message{
  color:#aa9c9c;
  font-size: small;
}