.genre-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #303354;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 4px 1px rgba(51, 38, 1, 0.514);
  margin: 1rem 0;
}
.genre-section h1{
  margin: auto;
  text-transform: capitalize;
  color: white;
  display: inline-block;
  border-radius: 10px;
  font-size: 2.2rem;
  padding: 0.4rem 1rem;
  background-color: black;
  margin-top: 1rem;
}
.container-genre-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
}

.container-genre-list a{
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 0.3em;
  background-color:black;
  border-radius: 10px;
  font-weight: bolder;
  flex: 1 1 auto;
  text-align: center;
  transition: 0.2s;
}


.container-genre-list a:hover{
  transform: scale(1.1);
  color: green;
}

@media(max-width:500px){
  .container-genre-list{
    padding: 0;
    margin: 0;
    margin-top: 1rem;
  }
}