.carousel-small-image-list-container{
  overflow: hidden;
  height: 100px;
  position: relative;
  cursor: grab;
  margin-top: 0.6rem;
}

.carousel-small-image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  cursor: grabbing;
  height: 100%;
}

.carousel-small-image-list-wrapper{
  display: flex;
  height: 100%;
  transition: 0.5s;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.carousel-small-image-item{
  display: flex;
  justify-content: center;
}

.carousel-small-image-item img{
  width: 95%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.small-carousel-prev-button{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  -webkit-text-stroke: 1px black;
  color: white;
  z-index: 10;
  transition: 0.5s;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
}

.small-carousel-next-button{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-text-stroke: 1px black;
  font-size: 1.2rem;
  z-index: 10;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.carousel-small-image-list-container:hover .small-carousel-prev-button{
  left: 1px;
  opacity: 1;
  font-size: 1.4rem;
}

.carousel-small-image-list-container:hover .small-carousel-next-button{
  right: 1px;
  opacity: 1;
  font-size: 1.4rem;
}

.small-carousel-prev-button:hover,
.small-carousel-next-button:hover{
  color: red;
  -webkit-text-stroke: 1px transparent;
}