.container-reviews{
  width: 90%;
  box-shadow: 0 0 1px 1px #000000;
  display: block;
  background-color: #262c41;
  margin-top: 1em;
  width: 100%;
}

@media (max-width: 376px){
  .container-reviews {
    padding: .5rem!important;
  }
}