.week-schedule-movie{
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  font-size: 1rem;
  background-color: #2e2e3b;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.979), 0 0 10px 10px #131414;
  text-align: center;
}

.day-schedule-movie{
  background-color: #1e1e1e;
  margin: 1rem 0;
  overflow: hidden;
  box-shadow: 0 0 3px 2px rgb(3, 3, 3),  0 0 3px 2px #131414;
}

.day-schedule-movie .title{
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: start;
  padding: 1rem 0;
  margin-left: 2rem;
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  font-weight: bolder;
  cursor: pointer;
}

.all-movies-day{
  color:white;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  cursor: default!important;
}

.day-schedule-movie .title:hover{
  color: aquamarine;
}

.container-week-schedule-movie{
  padding:10px;
  background-color: #474453;
}