.home-page{
  background-color: rgb(95, 91, 91);
  overflow-x: hidden;
  max-width: 1650px;
  margin: auto;
  box-shadow: 0 0 10px 5px black;
}

.container-anime-list{
  display: flex;
  background-color: rgb(47, 58, 71);
  box-shadow: 0 0 10px 5px black;
  flex-wrap: wrap;
}
.anime-pagination{
  background-color: rgb(47, 58, 71);
  width:100%;
  margin:50px 0 50px auto;
  color:white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 10px black, 0 0 10px 6px white;
}

.anime-pagination .list-anime{
  max-width: 1167px;
}

.recently-updated-movie{
  color: white;
  background-color: #242847;
  box-shadow: 0 10px 5px 10px black;
}

.sub-nav-bar{
  position: relative;
  padding-top: 1rem;
  margin-top: 1rem;
  display: flex;
}

.wrapper-search-anime-list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  width: 90%;
  margin: auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.596);
  border-radius: 10px;
}

#button-see-more__home{
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  text-transform:uppercase;
  font-weight:bolder
}

#button-see-more__home:active{
  background-color: rgb(33, 73, 133);
}

.wrapper-search-anime-list label{
  font-family: 'Times New Roman', Times, serif;
  color:yellow;
}

.wrapper-search-anime-list > div{
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  background-color: transparent;
}

@media (max-width:1465px){
  .sub-nav-bar{
    flex-direction: column;
  }
}

@media (min-width:1510px){
  .container-display-anime__home{
    display: flex;
  }
  .anime-pagination{
    min-width: 1166px;
    
  }
}

.sub-nav-item{
  text-shadow: 0.3rem 0.3rem black; 
  margin: 0 1rem;
  cursor: pointer;
  padding: 10px;
}

.sub-nav-bar::before{
  content: "";
  position: absolute;
}

.sub-nav-active{
  transition: 0.3s ease-in-out;
  background-color: rgb(77, 53, 16);
  border-radius: 10px;
}

.select-filter{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 150%;
  box-shadow: 2px 2px 5px 2px rgb(136, 133, 133);
  border: none;
}
