.home__page-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.home__page-item-search{
  padding: 1rem;
  background-color: black;
  margin:0 0.2em;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__active-page-search{
  background-color: rgb(41, 62, 119);
  box-shadow: 0 0 2px 1px black;
}

.home__page-list .select-page{
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
}
