.custom-select2-container{
  padding: 0.6rem;
  position: relative;
  margin: 0.4rem;
  border-color: #505050;
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  background-color: #2a2a2a;
}

.input-section-container{
  display: flex;
  border: 1px solid rgb(126, 111, 111);
  padding: 0.5rem;
  flex-direction: column;
  border-radius: 5px;
  cursor: text;
}

.label-select2{
  font-family: 'Roboto', sans-serif, Arial, Helvetica;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

.custom-select2-wrapper{
  position: relative;
  background-color: #2b2c3b;
}

.list-suggestion{
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 180px;
  z-index: 6;
  overflow-y: auto;
  display: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(40, 42, 59);
  border: 1px solid rgb(126, 122, 122);
  overflow-x: hidden;
}

.list-suggestion li{
  padding: 0.5rem;
  padding-left: 1rem;
  white-space: nowrap;
}

.list-suggestion li.active{
  color:red;
}

.list-suggestion li:hover{
  background-color: rgb(110, 110, 110);
  cursor: pointer;
}

.input-section-container input{
  width: 100%;
  background-color: transparent;
  outline: none;
  color: white;
  border: none;
}

.all-options-selected{
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.all-options-selected span{
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid rgb(255, 9, 9);
  background-color: hsl(240, 4%, 33%);
  padding: 0.2rem 0.3rem;
  border-radius: 2px;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
  position: relative;
  font-size: 0.8rem;
}

.all-options-selected span::before, 
.all-options-selected span .one,
.all-options-selected span .two{
  opacity: 0;
  transition: 0.5s;
  background-color: white;
  position: absolute;
}

.all-options-selected span .one{
  transform: translateX(-3px) translateY(2px) rotate(45deg);
}

.all-options-selected span .two{
  transform: translateX(3px) translateY(2px) rotate(-45deg);
}

.all-options-selected span:hover:before{
  content: '';
  opacity: 1;
  position: absolute;
  top: 0;
  background-color: #2a2a2a88;
  left: 0;
  width: 100%;  
  height: 100%;
}

.all-options-selected span:hover .one{
  height: 3px;
  width: 100%;
  opacity: 1;
}

.all-options-selected span:hover .two{
  height: 3px;
  width: 100%;
  opacity: 1;
}