.character-list{
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.character-list::-webkit-scrollbar{
  width: 5px;
  background-color: black;
}

.character-list::-webkit-scrollbar-thumb{
  background-color: grey;
}

@media (max-width:950px){
  .character-item{
    width: 100px;
  }
  .character-list{
    overflow-y:hidden;
    max-height: 100%;
  }
}