.anime-main-role{
  border: 2px solid yellow;
  animation: victoryEnlighten 2s forwards infinite;
  border-radius: 10px;
}

.anime-main-role a{
  text-decoration: none;
}

.all-anime-related span{
  height: 100%;
  width: 100%;
  display: flex!important;
  align-items: center;
}

.pop-up-hover{
  transition: 0.2s;
  transform: scale(0);
  display: flex;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  background-color: #1f1f3d6b;
  flex-direction: column;
  text-shadow: 2px 2px black;
  color: white;
}


@keyframes victoryEnlighten{
  0%{
    box-shadow: 0 0 1px 1px red;
  }
  50%{
    box-shadow: 0 0 10px 1px red;
  }
  100%{
    box-shadow: 0 0 1px 1px red;
  }
}