.container-genre-detail{
  width: 80%;
  margin: auto;
  background-color: #1f2741;
  box-shadow: 0 0 5px 1px black;
  color: white;
  padding-top: 1rem;
}

.container-genre-detail h1{
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  padding: 1rem;
  background-color: #323a53;
  border-top: 4px solid rgb(136, 41, 41);
}

.loading-symbol{ 
  text-align: center;
  margin-bottom:1rem ;
}

@media (max-width:700px){
  .container-genre-detail{
    width: 100%;
  }
}
