.nav-bar__app{
  display: flex;
  list-style-type: none;
  background-color: rgb(2, 2, 2);
  margin: 0;
  padding: 6px 0;
  z-index:11;
  width: 100%;
  position: fixed;
  top:0;
  color: white;
  transition: 0.5s ease-in-out;
}

.nav-bar + div{
  margin-top: 65px;
}

.nav-bar__item .active{
  transition: 0.3s ease-in-out;
  background-color: white;
  color: black!important;
}

.input-choose-avatar{
  height: 0;
  width: 0;
  background:none ;
  border:none;
  outline: none;
}

.left-nav-item{
  margin: 0 0 0 auto!important
}

.left-nav-item div{
  padding:10px;
}


.child-nav-bar__app{
  display: flex;
  list-style-type: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  z-index:11;
  width: 100%;
  position: static;
  top:0;
  color: white;
}

.toggle-show__nav{
  display: none; 
  padding-left: 10px;
  color:white;
  z-index: 100;
  padding-top: 0.5rem;
  padding-right: 1rem;
}

.logo a{
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
}

.logo-wrapper{
  display: flex;
  align-items: center;
}

.logo-wrapper > span{
  font-weight: 800;
  color: white;
  font-size: 2.5rem;
  font-family: 'Cookie', cursive;
}

.nav-bar__app .nav-bar__item{
  padding: 10px;
  min-width: fit-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.3rem;
}

.nav-bar__app .nav-bar__item a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.avatar-user{
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

@media (max-width:964px){
  .nav-bar__app{
    flex-direction: column;
    padding: 11px 0;
  }
  .nav-bar + div{
    margin-top: 54px;
  }  
  .child-nav-bar__app{
    display: none;
  }
  .child-nav-bar__app{
    flex-direction: column;
  }
  .left-nav-item{
    margin: 0 0 auto 0!important;
  }
  
  .toggle-show__nav{
    display: block; 
  }
}