.layout-section{
  width: 100%;
  margin: auto;
  overflow: hidden;
  background-color: black;
}

.background{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  color: white;
}

.container-menu-control{
  position: absolute;
  width: 100%;
  display: flex;
  margin: auto;
  top:0;
  left: 0;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.hover-button:active{
  background-color: rgba(128, 128, 128, 0.24);
}

.hover-button{
  padding: 1.4rem;
}

.container-menu-control .button-left{
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.container-menu-control .button-left:hover{
  opacity: 1;
}

.container-menu-control .button-right{
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transition: 0.5s;
}

.container-menu-control .button-right:hover{
  opacity: 1;
}


.section-carousel-container{
  display: flex;
  flex-wrap: nowrap;
  width: 700%;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.4s;
  min-height: 210px;
}

.button-update-carousel-container{
  position: absolute;
  z-index:10;
  bottom: 0;
  left: 0;
}

.list-dot-carousel{
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
  justify-content: center;
  z-index: 20;
  color: white;
  background-color: black;
}

.dot-item{
  background-color: rgb(25, 72, 94);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin:0 0.2rem;
}

.active-dot{
  background-color: white;
}

@media (max-width:950px){
  .layout-section{
    margin: 0;
  }
}

@media (max-width:540px) {
  .button-left{
    display: none;
  }

  .background .button-right{
    display: none;
  }
}

.btn{
  padding:1rem;
  text-decoration: none;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:active{
  transform: scale(1.1,1.1);
}

.btn:disabled{
  pointer-events: none;
  background-color: #6b3333;
}

.btn-success{
  background-color: green;
}

.btn-primary{
  background-color: #1838c5;
}