.container-search-anime{
  background-color: rgb(36, 43, 73);
  box-shadow: 0 0 10px 4px black;
  width: 80%;
  margin: auto;
  padding: 1em;
  text-align: center;
  word-break: break-all;
}

.container-search-anime h1{
  background-color: rgb(77, 59, 59);
  border-top: 4px solid red;
  padding: 0.5em;
}

.page-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.page-item-search{
  padding: 1rem;
  background-color: black;
  margin:0 0.2em;
  cursor: pointer;
}

.active-page-search{
  background-color: rgb(41, 62, 119);
  box-shadow: 0 0 2px 1px black;
}