.top-anime-list li{
  width: 100%;
  max-width: 300px;
  min-height: 460px;
  position: relative;
  border-radius: 10px;
  margin:1.5rem;
}

.top-anime-list-info{
  color:white;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: rgb(37, 39, 63);
  white-space: normal;
  box-shadow: 0 0 10px 2px black;
  border: 10px double black;
  border-radius: 10px;
}

.top-anime-list-info .title{
  font-size: 140%;
  padding: 10px;
  margin-top: 2rem;
  box-shadow: 0 0px 1px 1px rgb(107, 106, 106);
  border: 10px double black;
}

.top-anime-list li img{
  width: 70%;
  height: 260px;
  display: block;
  cursor: pointer;
  margin: 15px auto 10px auto;
  box-shadow: 0 0 10px 5px rgb(75, 75, 49);
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
  animation: none;
  transition: 0.4s;
  opacity: 1;
}

.top-anime-list-info span{
  height: 260px!important;
}

.top-anime-list-info span img{
  object-fit: cover;
} 

.top-anime-list li img:hover{
  animation: rotate 1.5s linear infinite both;
}
