.top-anime-list li{
  width: 100%;
  max-width: 300px;
  min-height: 460px;
  position: relative;
  border-radius: 10px;
  margin:1.5rem;
}

.top-anime-list-info{
  color:white;
  width: 100%;
  position: relative;
  text-align: center;
  background-color: rgb(37, 39, 63);
  white-space: normal;
  box-shadow: 0 0 10px 2px black;
  border: 10px double black;
  border-radius: 10px;
}

.top-anime-list-info .title{
  font-size: 140%;
  margin-top: 2rem;
  padding: 3px 10px;
  box-shadow: 0 0px 1px 1px rgb(107, 106, 106);
  border: 10px double black;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: 0.3s;
}

.top-anime-list-info .title span{
  display: inline;
  background-image: linear-gradient(to right, red, rgb(179, 179, 9));
  background-repeat: no-repeat;
  background-size: 0 5px;
  background-position: 0 27px;
  transition: 0.7s ease-in-out;
}

.top-movie-score__home{
  position: absolute;
  top:0;
  right: 0;
  font-weight: 10px;
  font-size: larger;
  color: yellow;
  padding: 5px;
  background-color: #3a417591;
  border-radius: 10px;
  z-index: 4;
}

.top-anime-list li img{
  width: 90%;
  height: 380px;
  background-color: black;
  display: block;
  cursor: pointer;
  margin: 15px auto 10px auto;
  box-shadow: 0 0 10px 5px rgb(75, 75, 49);
  object-fit: contain;
  border-radius: 10px;
  object-position: center;
  animation: none;
  opacity: 1;
}

.top-anime-list-info span img{
  object-fit: contain;
} 

.top-anime-list li a:hover + div.title span{
  background-size: 100% 5px;
  color: yellow;
}
