.container-admin-session{
  width: 80%;
  margin: 0 auto;
  background-color: #222742;
  color: white;
  padding: 1rem;
  overflow: auto;
}

.table-user-session{
  margin: auto;
  min-width: 1135px;
}

.table-user-session tr{
  box-shadow: 0 0 1px 1px white;
}

.table-user-session tr > th,td{
  box-shadow: 0 0 1px 1px white;
  width: 20%;
  height: 3rem;
  text-align: center;
}

.search-user-input{
  margin: 1rem;
}

.filter-bar-controller{
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
}

.m-1{
  margin: 1rem;
}