.container-error-404{
  color: white;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: nowrap;
  justify-content: flex-start;
  font-size: 1rem;
  padding: 0;
  margin: auto;
  text-shadow: 3px 3px black;
  font-size: 170%;
  overflow: auto;
}