.nav-bar__app{
  display: flex;
  list-style-type: none;
  background-color: rgb(2, 2, 2);
  margin: 0;
  padding: 10px 0;
  z-index:10;
  width: 100%;
  position: fixed;
  top:0;
  color: white;
  transition: 0.3s;
}

.child-nav-bar__app{
  display: flex;
  list-style-type: none;
  background-color: rgb(2, 2, 2);
  margin: 0;
  padding: 10px 0;
  z-index:10;
  width: 100%;
  position: static;
  top:0;
  color: white;
}

.toggle-show__nav{
  display: none; 
  padding: 10px;
  color:white;
  width: 100%;
  z-index: 100;
}

.left-nav-item{
  margin: 0 0 0 auto!important
}

@media (max-width:697px){
  .nav-bar__app{
    flex-direction: column;
  }
  .child-nav-bar__app{
    display: none;
  }
  .child-nav-bar__app{
    flex-direction: column;
  }
  .left-nav-item{
    margin: 10px!important;
  }
  
  .toggle-show__nav{
    display: block; 
  }
}

.nav-bar + div{
  margin-top: 5rem;
}

.nav-bar__app .nav-bar__item{
  padding: 10px;
  font-size: 1.3rem;
}

.nav-bar__app .nav-bar__item a{
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.active{
  transition: 0.3s ease-in-out;
  background-color: white;
  color: black!important;
}

.block-pop-up{
  position: fixed;
  top:0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(36, 35, 53, 0.788);
  z-index: 19;
  color:white;
}

.hidden-scroll{
  overflow: hidden;
}

.loading-block{
  position: absolute;
  top:40%;
  left: 45%;
  transform-origin: 50% 50%;
}
