.block-pop-up{
  position: fixed;
  top:0;
  width: 100%;
  left: 0;
  height: 100%;
  background-color: rgba(36, 35, 53, 0.788);
  z-index: 19;
  color:white;
}

.hidden-scroll{
  overflow: hidden;
}

.loading-block{
  position: absolute;
  top:40%;
  left: 45%;
  transform-origin: 50% 50%;
}

.button-scroll-top{
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: 10px;
  color: white;
  background-color: black;
  margin:1rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  border-radius:10px;
}