pre{
  color:#d4c4c4
}

.character-detail-container{
  background-color: #1f1f3d;
  width: 90%;
  margin: auto;
  padding: 2rem;
  color: white;
  box-shadow: 0 0 6px 5px black;
}
  .character-information-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(34, 37, 75);
    border-radius: 10px;
    padding: 1rem;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 1px rgb(18, 71, 73);
  }
    .image-character{
      max-width: 410px;
      margin: 1rem;
      display: block;
      width: 100%;
      box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.733);

    }
    .character-information{
      max-width: 661px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin:1rem;
      font-size: 1.6rem;
      text-align: center;
      letter-spacing: 0.05em;
      line-height: 2rem;
      padding: 2rem;
      background-color: rgb(68, 68, 61);
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.733);
      border-radius: 10px;
    }

.voice-actor-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actor-item{
  position: relative;
  text-align: center;
  cursor: pointer;
  padding: 1em;
  transition: 0.3s;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.actor-name{
  display: block;
}

.actor-item img{
  object-fit: contain;
}

.actor-item:hover{
  background-color: #454561;
}

.text-about-character{
  white-space: pre-wrap;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  font-size: larger;
  letter-spacing: 0.05em;
  line-height: 2rem;
  overflow-wrap: break-word;
}

.text-capitalize{
  text-transform: capitalize;
  font-size: 2.9rem;
  font-family: 'Times New Roman', Times, serif;
  margin:10px 0;
  color: orange;
  line-height: 1em;
  display: block;
  padding: 1rem;
  background-color: rgb(68, 68, 61);
  text-align: center;
  font-style: italic;
}

.wrapper-text{
  margin-bottom: 1rem;
  border-bottom: 2px double rgb(0, 0, 0);
  padding-bottom: 1rem;
  padding: 1em 1rem;
  box-shadow: 0 22px 10px 1px rgba(82, 77, 77, 0.753);
}

.character-appear-container{
  text-align: center;
}

@media(max-width:600px){
  .character-detail-container{
    padding: 0;
    width: 100%;
  }

  .character-information{
    width: 80%;
  }
}