.page-nav-list{
  list-style-type: none;
  display: flex;
  padding: 10px;
  justify-content: center;
  text-align: center;
  color: white;
}

.page-nav-item{
  padding: 10px;
  margin: 0 10px;
  background-color: black;
  box-shadow: 0 0 5px 5px black;
  cursor: pointer;
}

.active-page{
  background-color: rgba(73, 71, 71, 0.568);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.493);
}