.search-list-anime{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 20px;
  margin: auto;
  height: 400px;
  width: 90%;
  background-color: transparent;
  color:white;
  box-shadow:0 20px 10px 10px #242847
}

.search-list-anime::-webkit-scrollbar{
  height: 10px;
  background-color: black;
}

.search-list-anime::-webkit-scrollbar-thumb{
  background-color:grey;
  border-radius: 10px;
}

.search-list-anime::-webkit-scrollbar-thumb:hover{
  background-color:rgb(187, 144, 144);
}
